.chat-container {
    display: flex;
    flex-direction: column;
    background-color: #CBB3BF;
    font-family: 'Roboto', sans-serif;
    color: white;
    align-items: center;


}

.chat-header {
    padding: 18px;
    background-color: #c99db3;
    border-bottom: 1px solid #c99db3;
    text-align: center;
    margin-bottom: 5px;
    width: 90%;
    border-radius: 16px;
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
    align-items: center;

}

.chat-header h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #e6e6e6;

}

.chat-body {
    flex: 1;
    padding: 10px 0;
}

.search-input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;

}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}


.search-wrapper {
    position: relative;
    width: 100%;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
}

.search-input {
    width: 100%;
    padding: 10px 10px 10px 36px;
    /* espacio para la lupa */
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}