.chat-container {
    display: flex;
    flex-direction: column;
    background-color: #CBB3BF;
    font-family: 'Roboto', sans-serif;
    color: white;
    align-items: center;


}

.chat-header {
    padding: 18px;
    background-color: #c99db3;
    border-bottom: 1px solid #c99db3;
    text-align: center;
    margin-bottom: 5px;
    width: 90%;
    border-radius: 16px;
    display: flex;
    
}

.chat-header h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #e6e6e6;
    
}

.chat-body {
    flex: 1;
    padding: 10px 0;
}